body {
  background-color: rgb(234, 236, 239)
}

.margin_below_navbar {
  margin-top: 50px;
}

.index_padding {
  padding-bottom: 2%;
}

.nav_home {
  width: 30px;
}

.row_layout {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  height: 25%;
}

.overlay_layout {
  background-color: rgb(234, 236, 239);
  margin: 2%;
  text-align: center;
  opacity: .9;
  margin-top: 5px;
}

.kbd_site_style {
  background-color: rgb(207, 107, 100);
}

.red_bg {
  background-color: rgb(224, 101, 97);
}

.white_bg {
  background-color: rgb(255, 255, 255);
}

.white_text {
  color: white;
}

.verticle_line {
  border-left: 6px solid gray;
  height: 33%;
  border-radius: 5px;
}

.nav_height {
  height: 40px;
}

.nav_links_margin {
  margin-top: 2.5px;
}

.nav_search {
  border-radius: 8px;
  border: none;
}

.header_text_center {
  margin-top: 50px;
}

.header {
  color: white;
  margin-top: 60px;
  padding-top: 20px;
  text-align: center;
  height: 200px;
}

.margin_bottom_openings {
  margin-bottom: 15px;
}

#homeHeader {
  background-image:url("https://cdn.hswstatic.com/gif/chess-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: center;
  background-attachment: cover;
  background-size: cover;
}

#row_margin_bottom {
   margin-bottom: 20px;
}

#nav_color {
  background-color: rgb(234, 236, 239);
  opacity: .95;
}

#chessable_bg {
  background-color: rgb(31, 91, 218);
}

#kasparov_profile {
  height: 100%; padding-top: 10%;
}

#gameknot_profile {
  height: 100%; padding-top: 33%;
}

#carousel_hr {
  height: 25px;
  margin-bottom: 10px;
}

#carousel_container {
  padding-bottom: 15px;
  max-width: 600px;"
}
